<header>
    <div style="margin-top:10px;margin-bottom:20px; padding:3px;">
        <a href="{{ site.url }}" style="font-size:2.2em;color:#000;">一蓑烟雨任平生</a>
    </div>
    <p>
        人之为学，不日进则日退。
    </p>
    <p>
        独学无友，则孤陋而难成。
    </p>
    <p>
        久处一方，则习染而不自觉。
    </p>
    
    <div>
        <h3>标签</h3>
        
        {% for tag in uniq_tags %}
            <div class="tag">
                {{ tag }}
            </div>
        {% endfor %}

        <p>{{ collections.tags.TCP }}<p>
    </div>
        
</header>
