<!doctype html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{{ site.title }}</title>
        <meta name="viewport" content="width=device-width">
        {% include css.html %}
</head>
<body>
<div class="wrapper">
    {% include header.html %}
    <section>
        {% assign ordered_articles = site.articles | sort:"date" | reverse %}
        {% for article in ordered_articles %}
        <div>
            <h2>
            <a href="{{ article.url }}">
                {{ article.title }} 
            </a>
            </h2>
            {% for tag in article.tags %}
            <div class="tag">
                {{ tag }}
            </div>
            {% endfor %}
            <br>
            <div style="margin-top:6px;">
            <small> {{ article.date | date:"%Y-%m-%d" }} </small>
        </div>
            <div style="margin-bottom:18px;margin-top:10px;height:1px;background:#ddd;overflow: hidden;"></div>

        </div>
        {% endfor %}


    </section>
    {% include footer.html %}
</div>
<script src="{{ site.url }}/javascripts/scale.fix.js"></script>
</body>
</html>

