<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <meta name=”keywords” content=”{{ page.tags | join: ","}}“>
    
    <meta name="viewport" content="width=device-width">
    {% include css.html %}
</head>
<body>
<div class="wrapper">
    {% include header.html %}
    <section class="article">
            
       {{ content }}
    </section>
    <section>
        {% include comment.html %}
    </section>
    {% include footer.html %}
</div>
<script src="{{ site.url }}/javascripts/scale.fix.js"></script>
</body>
</html>
